.game-canvas{
  margin: 20px auto 0;
  width: fit-content;
}

.minefield{
  border-collapse: separate;
  border-spacing: 5px;
  margin: 0 auto;

  .minefield-tile{
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 0;
    vertical-align: middle;
    cursor: default;

    &.dug{
      background-color: green;
      &.mine{ background-color: red; }
    }

    &:hover{
      &:not(.dug){ filter: brightness(90%); }
    }

    &:active{
      &:not(.dug){ filter: brightness(80%);}
    }
  }
}